body {
    padding: 20px; 
    background: #f1f1f1
}
.header {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: lightgray;
    font-family: "Comic Sans MS", cursive, sans-serif;  
    color: black; 
}
a:visited {
    color: black; 
}
.leftcolumn { 
    float: left;
    width: 75%;
}
.blogimg {
    background-color: #aaa;
    padding: 20px;
}
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
p { 
    font-size: 18px; 
    font-family: sans-serif; 
}
